{% extends 'base.html.twig' %}

{% block title %}{{ categoryName }}{% endblock %}

{% block body %}

    <div class="m-5">
        {% for program in programsOfCategory %}
            <div class="media-body">
                <h1 class="mt-0">{{ program.id }} : {{ program.title }}</h1>
                <p>{{ program.summary }}</p>
            </div>
        {% endfor %}


    <a class=" btn-primary p-2" href="{{ path('wild_index') }}">
        Retour à l'index
    </a>
    </div>
{% endblock %}