{% extends 'layout.html.twig' %}

{% block title %}{{ episode.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="font-italic title">{{ program.title }}</h1>
        <h2>Saison {{ season.nbseason }} Episode {{ episode.number }}</h2>
        <div class="card mb-3">
            <h3 class="font-italic card-header bg-primary text-light">{{ episode.title }}</h3>
            <p>{{ episode.synopsis }}</p>
        </div>

        <a href="{{ path('wild_season', {'id': season.id }) }}">
            <button class="btn btn-primary">Voir les épisodes</button>
        </a>
        <a href="{{ path('wild_program', {'programName': program.title }) }}">
            <button class="btn btn-primary">Voir le programme</button>
        </a>
        <a href="{{ path('program_index') }}">
            <button class="btn btn-primary">Retour aux séries</button>
        </a>
    </div>

    <div class="bg-thirdColor container p-1 mt-5">
        <h2 class="title">Laisser un commentaire</h2>

        {% if is_granted('ROLE_SUBSCRIBERAUTHOR') %}
            <div class="m-5  border-primary">
                {{ include('comment/_form.html.twig') }}
            </div>
        {% else %}
            <div class="d-flex justify-content-center">
                <p>Vous devez être connecté pour cela !</p>
                <a href="{{ path('app_login') }}">
                    <button class="btn btn-primary ml-3">Se connecter</button>
                </a>
            </div>
        {% endif %}

        <hr>
        <h2 class="m-5">Commentaires :</h2>

        {% for comment in comments %}
            <div class="card ml-5 mr-5 border-primary">
                <div class="card-header d-flex justify-content-between bg-secondary">
                    <h3 class="font-italic">Par {{ comment.author.username }}:</h3>
                    <h3 class="font-italic">{{ comment.date|date('d-m-Y') }}</h3>
                </div>

                <p class="bg-thirdColor p-2">{{ comment.rate }} / 5</p> <br>

                <p class="p-2">{{ comment.comment }}</p>
            </div>

            {% if is_granted('ROLE_SUBSCRIBERAUTHOR') %}
                {% if comment.author.id == app.user.id or is_granted('ROLE_ADMIN') %}
                <div class="mb-4 ml-5">
                    {{ include('comment/_delete_form.html.twig') }}
                </div>
                {% endif %}
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
