{% extends 'base.html.twig' %}

{% block title %}{{ programName }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="media-body">
            <h1>{{ programName }} :</h1>
            <p>{{ program.summary }}</p>

            {% for season in seasons %}
                <a href="/wild/season/{{ season.id }}"><h2><span
                                class="badge badge-secondary">Saison {{ season.nbseason }}</span> ({{ season.year }})</h2>
                </a>
            {% endfor %}
        </div>

        <a href="{{ path('wild_index') }}">
            <button class="btn btn-primary">Retour aux séries</button>
        </a>
    </div>
{% endblock %}
