{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="media-body">
            <h1 class="mt-0">Saison {{ season.nbseason }} de <em>{{ program.title }}</em></h1>
            <p>{{ season.description }}</p>
            <hr>
            <h2>Liste des épisodes :</h2>
            <ul>
                {% for episode in episodes %}
                <a href="{{ path('wild_episode', {'id': episode.id }) }}"><li>Episode {{ episode.number }} : {{ episode.title }}</li></a>
                {% endfor %}
            </ul>

                <h2><span class="badge badge-secondary"></span></h2>

        </div>

        <a href="{{ path('wild_index') }}">
            <button class="btn btn-primary">Retour aux séries</button>
        </a>
        <a href="{{ path('wild_program', {'programName': program.title }) }}">
            <button class="btn btn-primary">Voir le programme</button>
        </a>
    </div>
{% endblock %}
