{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-5 d-flex justify-content-center">{{ actor.name }}</h1>
        <h2>Apparait dans :</h2>
        {% for program in programs %}
            <ul>
                <a href="{{ path('program_show', {'id': program.id}) }}"><li>{{ program.title }}</li></a>
            </ul>

        {% endfor %}
        <div class="d-flex justify-content-between">

            <a href="{{ path('actor_index') }}">
                <button class="btn btn-primary">Revenir aux Acteurs</button>
            </a>

            <div class="d-flex">
                <a href="{{ path('actor_edit', {'id': actor.id}) }}">
                    <button class="btn btn-primary">Éditer</button>
                </a>

                {{ include('actor/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
